In [2]:
from weather.weather import get_weather, convert_weather_to_df, get_past_weather, convert_past_weather_to_df
import os
import requests
import logging
import pandas as pd

## Creating CSV

In [15]:
import pandas as pd

# Define the data in a list of dictionaries format
# Data come from: https://www.kaggle.com/datasets/teaspice/nfl-home-stadium-coordinates
import pandas as pd

# Define the data with city names added
data = [
    {"homeTeamAbbr": "HOU", "roof": "retractable", "surface": "turf", "lat": 29.684723, "long": -95.410835, "City": "Houston"},
    {"homeTeamAbbr": "SEA", "roof": "no", "surface": "turf", "lat": 47.5952, "long": -122.3316, "City": "Seattle"},
    {"homeTeamAbbr": "BUF", "roof": "no", "surface": "turf", "lat": 42.774, "long": -78.787, "City": "Buffalo"},
    {"homeTeamAbbr": "PIT", "roof": "no", "surface": "grass", "lat": 40.446667, "long": -80.01583, "City": "Pittsburgh"},
    {"homeTeamAbbr": "ARI", "roof": "retractable", "surface": "grass", "lat": 33.528, "long": -112.263, "City": "Phoenix"},
    {"homeTeamAbbr": "LA", "roof": "yes", "surface": "turf", "lat": 33.953, "long": -118.339, "City": "Los Angeles"},
    {"homeTeamAbbr": "MIA", "roof": "no", "surface": "grass", "lat": 25.958055, "long": -80.23889, "City": "Miami"},
    {"homeTeamAbbr": "BAL", "roof": "no", "surface": "grass", "lat": 39.278057, "long": -76.62278, "City": "Baltimore"},
    {"homeTeamAbbr": "CLE", "roof": "no", "surface": "grass", "lat": 41.50611, "long": -81.69945, "City": "Cleveland"},
    {"homeTeamAbbr": "DEN", "roof": "no", "surface": "grass", "lat": 39.74389, "long": -105.02, "City": "Denver"},
    {"homeTeamAbbr": "DET", "roof": "yes", "surface": "turf", "lat": 42.34, "long": -83.045555, "City": "Detroit"},
    {"homeTeamAbbr": "SF", "roof": "no", "surface": "grass", "lat": 37.403, "long": -121.97, "City": "San Francisco"},
    {"homeTeamAbbr": "LV", "roof": "yes", "surface": "grass", "lat": 36.090557, "long": -115.18389, "City": "Las Vegas"},
    {"homeTeamAbbr": "KC", "roof": "no", "surface": "grass", "lat": 39.04889, "long": -94.48389, "City": "Kansas City"},
    {"homeTeamAbbr": "NE", "roof": "no", "surface": "turf", "lat": 42.091, "long": -71.264, "City": "Foxborough"},
    {"homeTeamAbbr": "NO", "roof": "yes", "surface": "turf", "lat": 29.950832, "long": -90.08111, "City": "New Orleans"},
    {"homeTeamAbbr": "TEN", "roof": "no", "surface": "turf", "lat": 36.16639, "long": -86.771385, "City": "Nashville"},
    {"homeTeamAbbr": "LAC", "roof": "yes", "surface": "turf", "lat": 33.953, "long": -118.339, "City": "Los Angeles"},
    {"homeTeamAbbr": "CIN", "roof": "no", "surface": "turf", "lat": 39.095, "long": -84.516, "City": "Cincinnati"},
    {"homeTeamAbbr": "NYG", "roof": "no", "surface": "turf", "lat": 40.8, "long": -74.066666, "City": "East Rutherford"},
    {"homeTeamAbbr": "JAX", "roof": "no", "surface": "grass", "lat": 30.323889, "long": -81.6375, "City": "Jacksonville"},
    {"homeTeamAbbr": "TB", "roof": "no", "surface": "grass", "lat": 27.975834, "long": -82.503334, "City": "Tampa"},
    {"homeTeamAbbr": "ATL", "roof": "retractable", "surface": "turf", "lat": 33.755554, "long": -84.4, "City": "Atlanta"},
    {"homeTeamAbbr": "MIN", "roof": "yes", "surface": "turf", "lat": 44.974, "long": -93.258, "City": "Minneapolis"},
    {"homeTeamAbbr": "DAL", "roof": "retractable", "surface": "turf", "lat": 32.747776, "long": -97.09278, "City": "Dallas"},
    {"homeTeamAbbr": "CAR", "roof": "no", "surface": "turf", "lat": 35.225834, "long": -80.852776, "City": "Charlotte"},
    {"homeTeamAbbr": "GB", "roof": "no", "surface": "grass", "lat": 44.50139, "long": -88.062225, "City": "Green Bay"},
    {"homeTeamAbbr": "CHI", "roof": "no", "surface": "grass", "lat": 41.8623, "long": -87.6167, "City": "Chicago"},
    {"homeTeamAbbr": "NYJ", "roof": "no", "surface": "turf", "lat": 40.8, "long": -74.066666, "City": "East Rutherford"},
    {"homeTeamAbbr": "PHI", "roof": "no", "surface": "grass", "lat": 36.900833, "long": -75.1675, "City": "Philadelphia"},
    {"homeTeamAbbr": "IND", "roof": "retractable", "surface": "turf", "lat": 39.75, "long": -86.15, "City": "Indianapolis"},
    {"homeTeamAbbr": "WAS", "roof": "no", "surface": "grass", "lat": 38.907776, "long": -76.86444, "City": "Landover"}
]

# Create DataFrame
df = pd.DataFrame(data)

## Current Weather API

In [7]:
df = get_weather('Denver')
new_df = convert_weather_to_df(df)

In [8]:
new_df.head(3)

    Timestamp       Readable Time  Temperature    Description
0  1726099200 2024-09-11 18:00:00       78.386     light rain
1  1726110000 2024-09-11 21:00:00       74.570     light rain
2  1726120800 2024-09-12 00:00:00       71.402  broken clouds

## Historical Weather API

In [3]:
visutalcrossing_api_key = os.environ["VISUALCROSSING_API_KEY"]
start_date = '2024-06-13T00:00:00'
end_date = '2024-06-20T00:00:00'
longtiude = 39.74
latitude = -104.99

In [4]:
df = get_past_weather(longtiude, latitude, start_date, end_date)
new_df = convert_past_weather_to_df(df)

In [6]:
new_df.head(2)

,wdir,temp,maxt,visibility,wspd,datetimeStr,solarenergy,heatindex,cloudcover,mint,...,snowdepth,sealevelpressure,snow,dew,humidity,precipcover,wgust,conditions,windchill,info
0,174.35,78.7,94.7,9.9,20.4,2024-06-13T00:00:00-06:00,20.5,90.2,48.6,61.6,...,None,1010.7,None,43.9,32.65,0.00,38.9,Partially cloudy,None,None
1,178.50,70.4,78.9,9.9,15.3,2024-06-14T00:00:00-06:00,13.8,NaN,72.3,59.4,...,None,1011.9,None,52.4,55.33,4.17,29.9,"Rain, Partially cloudy",None,None